.header {
    text-align: center;
    background: #33B5E5;
    color: #fff;
    padding: 12px;
   
  }
  
  a {
    color: #ffffff;
    font-size: 1.5em;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  h1{
      font-size: 2em;
      font-weight: bold;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }